@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at center, #2e0249 0%, #0a0a0a 100%);
  background-attachment: fixed;
  overflow: hidden;
  font-family: var(--font-inter), sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}